# Puerto donde se ejecuta la aplicacion 
PORT=

# Nombre de la aplicacion
APP_NAME=

# Configuracion de la base de datos MySQL 
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# Configuracion del sistema de autenticacion JWT 
JWT_SECRET_KEY=
JWT_EXPIRES_IN=